<apex:page id="thePage" lightningStylesheets="true" showHeader="false" standardStylesheets="true" controller="AllocationForResourceController">
    <apex:slds />
    
    <table class="slds-scrollable slds-table slds-table_bordered slds-table_cell-buffer" id="pgblcktbl">
        <thead>
            <tr class="slds-text-title_caps" >
                
                <th class="" scope="col" >
                    <div class="slds-truncate" title="Project Name" style="text-align:center;">Project Name</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate" title="Contractual Start Date" style="text-align:center;">Contractual Start Date</div>
                </th>
                <th>
                    <div class="slds-truncate" title="Contractual End Date" style="text-align:center;">Contractual End Date</div>
                </th>
                <th>
                    <div class="slds-truncate" title="Project Manager" style="text-align:center;">Project Manager</div>
                </th>
                <th>
                    <div class="slds-truncate" title="Client Contact Person" style="text-align:center;">Client Contact Person</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <apex:repeat value="{!relatedOpenAllocationsList}" var="RA">
                <tr class="slds-hint-parent" >
                    
                    <td data-label="Project Name">
                        <div class="slds-truncate" title="Project Name" style="text-align:center;">{!RA.Project__r.Name}
                            <!--<apex:outputLink value="/detail/!{RA.Project__c}">{!RA.Project__r.Name}</apex:outputLink>-->
                        </div>
                    </td>
                    <td data-label="Resource Name">
                        <apex:outputText value="{0,date,MM/dd/yy}" style="text-align:center;padding-left: 40%;">
                            <apex:param value="{!RA.Project__r.Contractual_Start_Date__c}" />
                        </apex:outputText>
                    </td>
                    <td data-label="Role Name">
                        <apex:outputText value="{0,date,MM/dd/yy}" style="text-align:center;padding-left: 40%;">
                            <apex:param value="{!RA.Project__r.Contractual_End_Date__c}" />
                        </apex:outputText>
                    </td>
                    <td data-label="Allocation Type">
                        <div class="slds-truncate" title="Allocation Type" style="text-align:center;">{!RA.Project__r.EP_Project_Manager__r.Name}</div>
                    </td>
                    <td data-label="Hours Submitted">
                        <div class="slds-truncate" title="Hours Sumbmitted" style="text-align:center;">{!RA.Project__r.Contact_Person__r.Name}</div>
                    </td>
                </tr>
            </apex:repeat>
        </tbody>
    </table>
    
</apex:page>