<apex:page title="Weekly Time Sheet" showHeader="false" sidebar="false" controller="TimeCardToReview"
           applyHtmlTag="false"    
           renderAs="pdf"
           docType="html-5.0">
    
    <head>
        <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />-->
        
        <style type="text/css">
        
        @page{
            size:A4 portrait;
            
            
        
            @bottom-right {
                content: "Page " counter(page) " - " counter(pages);
                font-family: 'Arial Unicode MS';
                font-size:4px;
            }
        }
        </style>
    </head>
    <div class="slds-page-header">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                  <div class="slds-media">
                    <div class="slds-media__figure" style="padding-right: 10px;">
                      <span class="slds-icon_container" title="Client Approval Page">
                        <!--<svg class="slds-icon slds-page-header__icon" aria-hidden="true">-->
                          <img src="/resource/1470910121000/Standavlogo" style="width: 75px;" />
                        <!--</svg>-->
                      </span>
                    </div>
                    <div class="slds-media__body">
                      <div class="slds-page-header__name">
                        <div class="slds-page-header__name-title">
                          <h1>
                            <span class="slds-page-header__title slds-truncate" title="Rohde Corp - 80,000 Widgets"></span>
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    <html>
        <apex:form id="myForm" styleclass="myformstyle">
        <apex:pageMessages id="pageMessages"/>
        <apex:pageBlock id="pb1">
               <apex:outputPanel styleClass="blue" layout="block">
            
            <apex:pageBlockSection columns="3" title="Time Card Details" showHeader="true" collapsible="false" id="pbs1">
                
                <apex:outputText value="{!timeCardToReview.Assignment__r.Resource__r.User__r.Name}" label="Employee Name" style="color:blue"/>
                
                <apex:outputText value="{!timeCardToReview.Assignment__r.Role__c}" label="Job" style="color:blue" />

                <apex:outputText value="{!timeCardToReview.Assignment__r.Resource__r.Name}" label="ID" style="color:blue"/>  
                
                <apex:outputText value="{!timeCardToReview.Assignment__r.Project__r.Name}" label="Client" style="color:blue"/>
                
                <apex:outputText value="{!timeCardToReview.Status__c}" style="color:blue"/>
                
                <apex:outputText value="{0,date,MM/dd/yy} to {1,date,MM/dd/yy}" label="Date" style="color:blue">
                    <apex:param value="{!timeCardToReview.Start_Date__c}" />
                    <apex:param value="{!timeCardToReview.EP_End_Date__c}" />
                </apex:outputText>
                
            </apex:pageBlockSection>
            
            
              <apex:pageBlockSection columns="3" title="Approval Details" showHeader="true" collapsible="false" id="pbs2">
                
                <apex:outputText value="{!timeCardToReview.Assignment__r.Project__r.EP_Project_Manager__r.Name}" label="Project Manager" style="color:blue"/>
                  
                <apex:outputText value="{!timeCardToReview.Assignment__r.Project__r.Contact_Person__r.Name}" label="Client Approver" style="color:blue"/>
                   
                <apex:outputText value="Approved on {!timeCardToReview.lastmodifieddate}" label="Time Card Status" style="color:blue;background-color:lightgreen;"/> 
                  
                <apex:outputText label="Project Manager Approval Comments" value="{!timeCardToReview.Manager_Approval_Comments__c}" style="color:blue"  />
                  
                <apex:outputText label="Client Approval Comments" value="{!timeCardToReview.EP_Notes__c}" style="color:blue" />
                  
              </apex:pageBlockSection>
                
            <apex:pageBlockSection columns="2" title="Hours Summary" showHeader="true" collapsible="false" id="pbs3">
                
                <apex:outputText value="{!timeCardToReview.EP_Total_Number_of_Unbillable_Hours__c}" label="Total Actual Hours" style="color:blue"/>
                  
                <apex:outputText value="{!timeCardToReview.EP_Total_Number_of_Billable_Hours__c}" label="Total Billable Hours" style="color:blue"/>
              </apex:pageBlockSection>
              
            
            <div class="slds-scrollable">
                <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-no-row-hover">
                    <thead>
                        <tr style="height: 50px">
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Hours Type">Hours Type</div>
                            </th>
                            
                            <apex:repeat value="{!weekDatesList}" var="weekDate">
                                <th class="" scope="col">
                                      
                                    <apex:outputText value="{0, date, EEEE}">
                                        <apex:param value="{!weekDate}" />
                                    </apex:outputText><br/>
                                    <apex:outputText value="{0, date, dd/MM/yy}">
                                        <apex:param value="{!weekDate}" />
                                    </apex:outputText>
                                </th>
                            </apex:repeat>
                            
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Total Hours Spent">Total Hours Spent</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr >
                            <td>Billable Hours</td>
                            <apex:repeat value="{!timeCardToReview }" var="timeCard">
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.Billable_Hours_Mon__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.Billable_Hours_Tue__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.Billable_Hours_Wed__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.Billable_Hours_Thu__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.Billable_Hours_Fri__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.Billable_Hours_Sat__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.Billable_Hours_Sun__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px">{!timeCard.EP_Total_Number_of_Billable_Hours__c}</td>
                            </apex:repeat>
                        </tr>
                        <tr >
                            <td>Actual Hours</td>
                            <apex:repeat value="{!timeCardToReview}" var="timeCard">    
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.UnBillable_Hours_Mon__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.UnBillable_Hours_Tue__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.UnBillable_Hours_Wed__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.UnBillable_Hours_Thu__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.UnBillable_Hours_Fri__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.UnBillable_Hours_Sat__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px"><apex:outputField value="{!timeCard.UnBillable_Hours_Sun__c}" /></td>
                                <td style="padding-top:10px;padding-bottom:10px">{!timeCard.EP_Total_Number_of_Unbillable_Hours__c}</td>
                            </apex:repeat>
                        </tr>
                        <tr style="display: {!IF(!timeCardToReview.Show_Comments__c, 'none', 'table-row')};" >
                            <td>Comments</td>
                            <apex:repeat value="{!timeCardToReview}" var="timeCard">    
                                <td style="padding-top:10px;padding-bottom:10px">
                                    <div class="slds-size_1-of-7">
                                        <div class="slds-box slds-box_small slds-scrollable" style="width: 10rem;height:5rem">
                                            <p>
                                                <apex:outputField value="{!timeCard.Monday_Work_Details__c}" />
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-bottom:10px">
                                    <div class="slds-size_2-of-7">
                                        <div class="slds-box slds-box_small slds-scrollable" style="width: 10rem;height:5rem">
                                            <p>
                                                <apex:outputField value="{!timeCard.Tuesday_Work_Details__c}" />
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-bottom:10px">
                                    <div class="slds-size_3-of-7">
                                        <div class="slds-box slds-box_small slds-scrollable" style="width: 10rem;height:5rem">
                                            <p>
                                                <apex:outputField value="{!timeCard.Wednesday_Work_Details__c}" />
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-bottom:10px">
                                    <div class="slds-size_4-of-7">
                                        <div class="slds-box slds-box_small slds-scrollable" style="width: 10rem;height:5rem">
                                            <p>
                                                <apex:outputField value="{!timeCard.Thursday_Work_Details__c}" />
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-bottom:10px">
                                    <div class="slds-size_5-of-7">
                                        <div class="slds-box slds-box_small slds-scrollable" style="width: 10rem;height:5rem">
                                            <p>
                                                <apex:outputField value="{!timeCard.Friday_Work_Details__c}" />
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-bottom:10px">
                                    <div class="slds-size_6-of-7">
                                        <div class="slds-box slds-box_small slds-scrollable" style="width: 10rem;height:5rem">
                                            <p>
                                                <apex:outputField value="{!timeCard.Saturday_Work_Details__c}" style="background-color: #f2f2f2;"/>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-bottom:10px">
                                    <div class="slds-size_7-of-7">
                                        <div class="slds-box slds-box_small slds-scrollable" style="width: 10rem;height:5rem">
                                            <p>
                                                <apex:outputField value="{!timeCard.Sunday_Work_Details__c}" style="background-color: #f2f2f2;"/>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </apex:repeat>    
                        </tr>
                    </tbody>
                </table>
            </div>
            <apex:pageblocksection title="Attachments" showHeader="true" id="pbs4">
            <apex:repeat var="attachment" value="{!timecardtoreview.attachments}">
            <apex:outputField value="{!attachment.name}" />
            <apex:iframe src="/servlet/servlet.FileDownload—file={!attachment.id}"/>
            </apex:repeat>
            </apex:pageblocksection>
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
        </html>
</apex:page>