<apex:page controller="CommunityHomePageController" lightningStylesheets="true" showHeader="false" standardStylesheets="true" sidebar="false" >
    <apex:slds />
   <style type="text/css">
    body {
        background-color: white;
       
    }
    .pbTitle {
        white-space:nowrap;
        border:white;
    }
   
    </style>
    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert" style="{!IF((errorMessage!=null), 'display:block', 'display:none')}">{!errorMessage}</div>
    <div style="{!IF((errorMessage!=null), 'display:none', 'display:')}">
        <apex:detail subject="{!ResourceId}" showChatter="false" relatedList="false" /> 
    </div>
</apex:page>